body {
  height: 100vh;
  background: linear-gradient(120deg,#2980b9,#8e44ad);
  font-family: cursive;
}

.main-text-center{
   
  font-family: Georgia, 'Times New Roman', Times, serif;;
}
.btn{
  font-family: cursive;
}
