body {
  height: 100vh;
  background: linear-gradient(120deg,#2980b9,#8e44ad);
  font-family: cursive;
}
.menu-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-img {
  width: 20px;
  height: 20px;
}
 


